/* Importando fontes */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');

/* Criando as variáveis para auxiliar no processo de cores */
:root{
    --cor-texto-padrao:#FFF;
    --cor-texto-highlight:#FF2200;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, #241c19, rgba(63, 28, 21, 0.97), rgba(137, 32, 16, 0.87));
    font-family: 'Lato', sans-serif;
    color:var(--cor-texto-padrao);
}

header, footer{
    width: 100%;
    padding:1px;
    color:var(--cor-texto-padrao);
}

header .container-header a #tituloSite{
    font-family: 'Bodoni Moda', serif;
    color:var(--cor-texto-padrao);
    font-size:35px;
    height:40px;
    padding: 10px;
    /*width:20px;*/
}

header .container-header .nav-list{
    list-style: none;
    display:flex;
    float:right;
    justify-content: space-around;
    height:40px;
    width:500px;
    margin: 0 !important;
}

header .container-header a{
    text-decoration: none;
    color:var(--cor-texto-padrao);
}

header .container-header .nav-list .item a{
    text-decoration: none;
}


header .container-header .nav-list .item .active{
    color:var(--cor-texto-highlight)
}

footer .container-footer{
    text-align:center;
    justify-content: center;
    margin-top: auto;
    padding-top: 4px;
}

footer .container-footer .copyright{
    font-family: 'Bodoni Moda', serif;
    text-align:center;
    font-size:20px;
}

h1{
    font-family: 'Bodoni Moda', serif;
    color: #fff;
    font-size: 4vw;
    font-weight: 900;
    margin: 0;
    line-height: 1em;
}

h2{
    font-family: 'Bodoni Moda', serif;
    color: #fff;
    font-size:2vw;
}

p{
    font-size: 1.5vw;
}

.highlight{
    font-family: 'Bodoni Moda', serif;
    color:var(--cor-texto-highlight);
    font-size: 4vw;
    font-weight: 900;
    margin: 0;
    line-height: 1em;
}

.botao-scroll button {
    border: none;
    font-size: 16px;
    font-size: 1rem;
    border-radius: 20px;
    border: 2px solid #FF0B1E;
    background: transparent;
    color: #fff;
    font-family: 'Bodoni Moda', serif;
    cursor: pointer;
    font-weight: 700;
    margin-right: 25px;
    padding: 10px 30px 10px 20px;
}

.botao-scroll{
    padding-top:10px;
}

button:hover {
    background: rgba(255, 113, 113, 0.1);
}

.fa-angle-double-down {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 20px;
    width: 10px;
    font-size: 2.5vw;
    color: #aaa;
    z-index: 11;
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: pointer;
    -webkit-animation: glow 4s infinite;
    animation: glow 4s infinite;
}

.scroll{
    background-image: url(../images/imagem-scrol.png);
    height: 100vh;
    position: relative;
    background-size: cover;
}

.scroll-conteudo {
    padding: 0px 100px 50px 100px;
    position: absolute;
    height: 50vh;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 10;
}

.paragrafo-scroll{
    text-align: justify;
    width:680px;
    line-height: 1.5;
}

.gradient-overlay {
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(#000000 20%, #020202);
    background: linear-gradient(#070202 20%, #0c0808);
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.content{
    margin:auto;
    padding:20px;
    padding-top:40px;
    width: auto;
    height: auto;
}

#titulo{
    text-align: center;
    justify-content: center;
    width:auto;
    height: auto;
}

#mapa{
    width:auto;
    height: auto;
}

#google-maps{
    text-align: center;
    padding:12px;
}

#endereco{
    width:auto;
    height: auto;
}

.endereco-texto{
    font-size: 1.4vw;
    text-align: center;
    line-height: 1.25;
}

#redes-sociais{
    width:auto;
    height: auto;
    padding-top:10px;
    text-align: center;
}

.botoes-amelie{
    display: flex;
    flex-direction: column;
    padding:40px;
}

.botoes-amelie button{
    border: none;
    font-size: 1.5vw;
    font-family: 'Lato', sans-serif;
    color:var(--cor-texto-padrao);
    background-color: #000000;
    width: 560px;
    height: 60px;
    cursor: pointer;
}

#realizar-cadastro{
    float:right;
    padding: 10px;
    padding-bottom:6px;
}

#realizar-cadastro a{
    text-decoration: none;
}

#highlight{
    color:var(--cor-texto-highlight);
}

#formulario-login{
    padding:50px;
    height: auto; 
}

form{
    width:1000px;
	height:auto;
    padding:30px;
}

label{
    font-size: 1.6vw;
    padding:5px;
}

input{
    font-family: 'Lato', sans-serif;
    padding:5px;
    width:500px;
    height:50px;
    font-size: 1.5vw;
    text-align: center;
    margin-bottom:4px;
}

#formulario-login #fazerLogin{
    border: none;
    font-size: 1.5vw;
    font-family: 'Lato', sans-serif;
    color:var(--cor-texto-padrao);
    background-color: #000000;
    width: 170px;
    height: 60px;
    cursor: pointer;
}

#formulario-login a{
    text-decoration: none;
}

#formulario-cadastro{
    padding:35px;
    height: auto; 
}

#formulario-cadastro #fazerCadastro{
    border: none;
    font-size: 1.5vw;
    font-family: 'Lato', sans-serif;
    color:var(--cor-texto-padrao);
    background-color: #000000;
    width: 170px;
    height: 60px;
    cursor: pointer;
}

#historia{
    font-size: 1.3vw;
    line-height: 1.2;
    padding:6px;
}

#historia1{
    display: flex;
    text-align: justify;
}

#historia2{
    display: flex;
    text-align: justify;
    padding:5px;
}

#historia2 a{
    text-decoration: none;
    color:white;
}

#historia2 a:hover{
    background-color:var(--cor-texto-highlight);
}

.highlight2{
    color:var(--cor-texto-highlight);
    font-size: 1.3vw;
    line-height: 1.2;
}

.carrinho-box{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-bottom:20px;
}

#vinho{
    font-size: 1.2vw;
    text-align: center;
}

#finalizarPedidoCarrinho{
    border: none;
    font-size: 1.5vw;
    font-family: 'Lato', sans-serif;
    color:var(--cor-texto-padrao);
    background-color: #000000;
    width: 170px;
    height: 60px;
    cursor: pointer;
}